@import 'variables';
@import 'normalize';
@import 'mixins';
@import 'fonts';
@import 'components/container';
@import 'components/footer';

@font-face{

    font-family: 'Panton';
    
    src: url('../fonts/Panton-SemiBold.eot');
    
    src: url('../fonts/Panton-SemiBold.eot?iefix') format('eot'),
    
    url('../fonts/Panton-SemiBold.woff') format('woff'),
    
    url('../fonts/Panton-SemiBold.ttf') format('truetype'),
    
    url('../fonts/WebFont.svg#webfont') format('svg');
    
    font-weight: 600;
    
    font-style: normal;
    
    }

.wrapper{
    width: 1640px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 35px 0 39px 0;
}

.logo{
    margin-right: 45px;
}

.nav{
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-block{
    margin-right: 35px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    & a{
    text-decoration: none;
    color: #AAAAAA;

        &:hover{
        color: #01678A;
    }}

    &:last-child{
    margin-right: 0;
}}

.wrapper-num{
    display: flex;
    align-items: center;
}
.wrapper-phone{
    display: flex;


    & div{
        font-family: 'Panton';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
}}

.wrapper-num button{
    margin-left: 25px;
}

.phone-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding: 8.13px 11.69px;
    background: #38BCEA;
    border: 1px solid #38BCEA;
    border-radius: 3px;
}

.main-img{
    position: relative;
    margin-bottom: 113.38px;
    padding-top: 0;
    background-image: url("../img/dentist-girl.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.block-on-main-img{
    width: 50%;
    height: 628.5px;
    background: linear-gradient(90deg, #FFFFFF 48.07%, rgba(255, 255, 255, 0) 100%);
}

.wrapper-text-on-main-img{
    padding-top: 146px;
    


    & p{
    color: #6F6F6F;
    max-width: 464.71px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 18px;
}

    & p:nth-of-type(2){
    margin-bottom: 37px;
}

    & h1{
    max-width: 351.85px;
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 104.19%;
    margin-bottom: 17px;
}

    & button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 14.38px 30px;
    background: #38BCEA;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    border: 1px solid #38BCEA;
    border-radius: 2px;
}}

.wrapper-bottom-blocks{
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.bottom-block{
    height: 106px;
    margin-right: 6.50px;
    background: rgba(255, 255, 255, 0.4);


    &:last-child{
    margin-right: 0;
}}

.first{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.second{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.third{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.bottom-block img{
    width: 44px;
    height: 44px;
    margin-right: 20px;
}

.bottom-block div{
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
    width: 290.81px;
}

.bottom-block:nth-child(2) div{
    width: 185px;
}

.bottom-block:nth-child(3) div{
    width: 185px;
}

.services-h2{
    margin-bottom: 76.46px;

    & h2{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #12354B;;
    margin-bottom: 14px;
}

    & p{
    max-width: 439.19px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #737373;
}}

.services{
    margin-bottom: 111.31px;
    display: grid;
    gap: 40px 35px;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: 236px;
}

.services > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #FBFBFB;
    border-radius: 5px;
}

.services > div > div{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
}

.trust-wrapper{
    background: #FBFBFB;
    padding: 124.33px 0 124.33px 0;
    margin-bottom: 103.62px;
}

.trust > h2{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #272727;
    margin-bottom: 60px;
}

.trust-elements{
    display: grid;
    gap: 38.25px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
}

.trust-elements > div{
    background-color: #fff;
    padding: 58px 26.56px 58.35px 37.52px;
}

.trust-elements > div > div{
    font-family: "Panton";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #38BCEA;
    margin-bottom: 7.73px;
}

.trust-elements > div > h3{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 7.73px;

    color: #222222;
}

.trust-elements > div > p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #292929;
}

.specialists-h2{
    margin-bottom: 72.94px;
}

.specialists-h2 h2{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #12354B;
    margin-bottom: 13.97px;
}

.specialists-h2 p{
    max-width: 526.06px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #737373;
}

.specialists-wrapper{
    display: grid;
    gap: 66.63px 53.33px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 185px;
}

.specialists{
    display: flex;
    justify-content: space-between;
    padding: 59.02px 51.97px 10px 54.71px;
    background: linear-gradient(255.02deg, #F7F8FA -0.59%, #EFF0F4 100%);
    box-shadow: 0px 13px 50px rgba(192, 192, 192, 0.2);
    border-radius: 4px;
}

.specialists-information h3{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    max-width: 296px;
    color: #363636;
    margin-bottom: 14px;
}

.specialists-information p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 11.25px;

    color: #3E3E3E;
}

.specialists img{
    align-self: flex-start;
    margin-top: -50px;
}

.certificates-h2{
    margin-bottom: 92.75px;
}

.certificates-h2 h2{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;

    color: #12354B;
}

.certificates-wrapper{
    display: grid;
    gap: 18.5px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 220px;
}

.certificates-wrapper img{
    width: 100%;
}

.footer{
    background-color: #fff;
    padding-top: 0;
}

.footer-wrapper{
    background: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
    padding: 63px 0 60px 0;
}

.consultation{
    width: 50%;
}

.consultation h2{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 43.52px;
    color: #000000;
}
.first-p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    width: 78%;
    color: #262626;
    margin-bottom: 37.58px;
}

.first-p span{
    color: #38BCEA;
}

.consultation form{
    margin-bottom: 32.62px;
}

.consultation form input{
    border: none;
    width: 232.97px;
    height: 71.02px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    padding-left: 27px;
    margin-right: 20px;
    background-color: #fff;
}

.consultation form button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 34px;
    background: #38BCEA;
    border-radius: 5px; 
    border: 1px solid #38BCEA;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.second-p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #4E4E4E;
}

.second-p span{
    text-decoration: underline;
}

.flex{
    display: flex;
}

.footer-img{
    width: 50%;
}

.footer-img img{
    margin-top: -180px;
}

.footer-bottom{
    
    padding: 61px 0 60px 0;
    background: #F2F3F5;
}

.grid{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr;
    align-items: center;
}

.icons{
    display: flex;
}

.icons img{
    width: 32px;
    height: 33px;
    margin-right: 45px;
    cursor: pointer;
}

.copirait{
    text-align: center;
}

.fraza{
    text-decoration: underline;
}

.footer-logo{
    justify-self: end;
}

@media (max-width: 1920px) {
    .wrapper{
        width: 1170px;
    }
}

@media (max-width: 1400px) {

    .wrapper{
        width: 992px;
    }

    .wrapper-text-on-main-img{
        padding-top: 100px;
    }

    .services{
        grid-template-columns: repeat(4, 1fr);
    }

    .trust-wrapper{
        padding: 50px 0 50px 0;
    }

    .trust-elements{
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .specialists-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    .specialists{
        justify-content: space-evenly;
    }

    .certificates-wrapper{
        grid-template-columns: repeat(2, 1fr);
  }
  .footer-img img{
      margin-top: 0;
  }
  .consultation{
      width: 100%;
  }

  .consultation h2{
      text-align: center;
  }

  .first-p{
      width: 100%;
  }
  
  .consultation p{
    text-align: center;
}

  .grid{
      grid-template-columns: 1fr;
      gap: 10px;
  }
  .icons img{
    margin-right: 25px;   
}

.icons{
    margin: 0 auto;
}

.fraza{
    text-align: center;
}

.footer-logo{
    justify-self: center;
}
}

  @media (max-width: 990px) {

    .wrapper{
        max-width: 767px;
    }

    header{
        display: block;
    }

    .main-img{
        background: none;
    }

    .block-on-main-img{
        width: 100%;
        height: max-content;
        margin-bottom: 20px;
        background-image: url("../img/dentist-girl.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .wrapper-text-on-main-img{
        padding-top: 50px;
        text-align: center;
        
       & h1, p{
           max-width: 100%;
       }}

    .wrapper-text-on-main-img button{
       margin: 0 auto;
    }

    .wrapper-bottom-blocks{
        position: static;
        display: grid;
        gap: 2px;
        grid-template-columns: 1fr 1fr;

    }

    .bottom-block{
        background-color: #fff;
        margin-right: 0;
        border: 1px solid #38BCEA;
        border-radius: 5px;
    }

    .first{
        justify-content: center;
    }
    
    .first div{
        width: 185px;
    }

    .second{
        justify-content: center;
    }
    
    .third{
        grid-column: 1/3;
        justify-content: center;
    }

    .services{
        grid-template-columns: repeat(3, 1fr);
    }

    .trust-wrapper{
        padding: 20px 0 20px 0;
    }

    .trust-elements{
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .certificates-wrapper{
        grid-template-columns: 1fr;
  }

  .footer-img {
   display: none;
}

  .consultation form input{
      margin-right: 10px;
  }

}



  @media (max-width: 770px) {
    .wrapper{
        width: 95%;
    }

    header{
        display: block;
    }

    .block-on-main-img{
        width: 100%;
    }

    .wrapper-text-on-main-img{
        padding-top: 20px;
    }

    .wrapper-bottom-blocks{
        grid-template-columns: 1fr;
    }

    .third{
        grid-column: 1/2;
    }

    .services-h2 h2{
        font-size: 36px;
    }

    .services{
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .trust h2{
        font-size: 36px;
    }

    .trust-wrapper{
        padding: 20px 0 20px 0;
    }

    .specialists-h2 h2{
        font-size: 36px;
    }

    .specialists-wrapper{
        gap: 25px;
    }

    .specialists{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        padding: 0;
    }

    .specialists-information{
        margin-top: 0;
        text-align: center;
        align-self: center;
    }

    .specialists-information h3{
        margin: 0 auto;
    }

    .specialists img{
        height: 50%;
        margin: 0 auto;
    }

    .certificates-h2 h2{
        font-size: 36px;
    }

    .certificates-wrapper{
        gap: 10px;
  }
  .footer-wrapper{
      padding: 0;
      padding-bottom: 20px;
  }
  .footer-bottom{
      padding: 0;
      padding-bottom: 20px;
  }

  .consultation form{
      text-align: center;
  }

.consultation h2{
    font-size: 30px;
}
  }