@font-face{

    font-family: 'Panton';
    
    src: url('fonts/Panton-SemiBold.eot');
    
    src: url('fonts/Panton-SemiBold.eot?iefix') format('eot'),
    
    url('fonts/Panton-SemiBold.woff') format('woff'),
    
    url('fonts/Panton-SemiBold.ttf') format('truetype'),
    
    url('../fonts/WebFont.svg#webfont') format('svg');
    
    font-weight: 600;
    
    font-style: normal;
    
    }

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 31px 130px 25px 130px;
}

.logo{
    margin-right: 45px;
}

.nav{
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-block{
    margin-right: 35px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.nav-block a{
    text-decoration: none;
    color: #AAAAAA;
}

.nav-block a:hover{
    color: #01678A;
}

.nav-block:last-child{
    margin-right: 0;
}

.wrapper-num{
    display: flex;
    align-items: center;
}
.wrapper-phone{
    display: flex;
}

.wrapper-phone div{
    font-family: 'Panton';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.wrapper-num button{
    margin-left: 25px;
}

.phone-button{
    color: #FFFFFF;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    width: 185.68px;
    height: 41.2px;
    background: #38BCEA;
    border: 1px solid #38BCEA;
    border-radius: 3px;
}

.main-img{
    position: relative;
    margin-bottom: 113.38px;
    background: url("../images/dentist-girl.jpg");
}

.block-on-main-img{
    width: 949.9px;
    height: 628.5px;
    background: linear-gradient(90deg, #FFFFFF 48.07%, rgba(255, 255, 255, 0) 100%);
}

.wrapper-text-on-main-img{
    position: relative;
    top: 146px;
    margin-left: 130px;
}

.wrapper-text-on-main-img p{
    color: #6F6F6F;
    width: 464.71px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

.wrapper-text-on-main-img p:nth-of-type(2){
    margin-bottom: 37px;
}

.wrapper-text-on-main-img h1{
    width: 351.85px;
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 104.19%;
}

.wrapper-text-on-main-img button{
    width: 295.86px;
    height: 60.27px;
    background: #38BCEA;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    border: 1px solid #38BCEA;
    border-radius: 2px;
}

.wrapper-bottom-blocks{
    position: absolute;
    top: 550px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.bottom-block{
    height: 106px;
    margin-right: 6.50px;
    background: rgba(255, 255, 255, 0.4);
}

.bottom-block:last-child{
    margin-right: 0;
}

.first{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
}

.second{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.third{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 2;
}

.bottom-block img{
    width: 44px;
    height: 44px;
    margin-right: 20px;
}

.bottom-block div{
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4B4B4B;
    width: 290.81px;
}

.bottom-block:nth-child(2) div{
    width: 185px;
}

.bottom-block:nth-child(3) div{
    width: 185px;
}

.services-h2{
    margin-left: 130px;
    margin-bottom: 76.46px;
}

.services-h2 h2{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #12354B;;
}

.services-h2 p{
    width: 439.19px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #737373;
}

.services{
    margin-left: 124.31px;
    margin-right: 149.04px;
    margin-bottom: 111.31px;
    height: 508.55px;
    display: grid;
    gap: 40px 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
}

.services > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #FBFBFB;
    border-radius: 5px;
}

.services > div > div{
    font-family: "Panton";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
}